:root {
  --BLACK: #000000;
  --PRIMARY: #f96c0a;
  --main-color: #f96c0a;
  --point-five: #f96c0a50;
  --point-three: #f96c0a50;
  --point-four: #f96c0a50;
}

body,
* {
  cursor: none !important;
  /* background-color: var(--BLACK); */
  font-family: "clash-display", sans-serif;
  margin: 0;
  background-image: url("/public/images/homePage/home-banner.png");
  background-position: "50%";
  background-repeat: no-repeat;
  background-size: contain;
  /* heihg */
}

@font-face {
  font-family: "clash-display";
  src: url("../assets/fonts/ClashDisplay-Regular.otf") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "clash-bold";
  src: url("../assets/fonts/ClashDisplay-Bold.otf");
}
